#board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  background-color: white;
}

.square {
  width: calc(100% / var(--size));
  height: calc(100% / var(--size));
  float: left;
  border: 1px solid black;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
