#board {
    width: 100%;
    height: 500px;
    border: 1px solid black;
    background-color: white;
}

#tools {
    width: 100%;
    height: 500px;
    border: 1px solid black;
    background-color: white;
    margin-top: 10px;
}

.tool {
    display: inline-block;
    margin: 5px;
}

.tool img {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

.selected-tool {
    border: 2px solid blue;
}
